<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Home', projects_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>

        <% if user_signed_in? && current_user.has_role?(:admin, User) %>
        <li><%= link_to 'User Administration', admin_users_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>