<% if resource.errors.any? %>
  <div class="form-base row ">
    <div class="col-md-12 no-padding form-errors">

      <div class="text-center">

        <div class="with-padding">
          <%= devise_error_messages! %>
        </div>

      </div>

    </div>
  </div>
  <br><br>
<% end %>